<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @entry.place_name %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'leaflet', media: 'all' %>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }
    h1 {
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }
    .lead-text {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .label-text {
      font-size: 22px;
      font-weight: bold;
    }
    #map {
      height: 400px;
      width: 100%;
      margin-bottom: 30px;
    }
    .mb-5 {
      margin-bottom: 3rem !important;
    }
    @media (max-width: 576px) {
      h1 {
        font-size: 36px;
      }
      .lead-text {
        font-size: 18px;
      }
      #map {
        height: 300px;
      }
    }
  </style>
</head>
<body>
  <div class="container mt-4 mb-5" style="max-width: 1000px;">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h1><%= @entry.place_name %></h1>
        <p class="lead-text"><%= @entry.description %></p>
        <p class="lead-text">
          <span class="label-text"><strong>Latitude:</strong></span>
          <%= @entry.latitude %>
        </p>
        <p class="lead-text">
          <span class="label-text"><strong>Longitude:</strong></span>
          <%= @entry.longitude %>
        </p>
        <p class="lead-text">
          <span class="label-text"><strong>Date Visited:</strong></span>
          <%= @entry.date_visited %>
        </p>
        <p class="lead-text">
          <span class="label-text"><strong>Link:</strong></span>
          <%= @entry.link %>
        </p>
        <div class="d-flex justify-content-center">
          <%= link_to "Edit", edit_entry_path(@entry), class: "btn btn-secondary btn-lg mt-4" %>
        </div>
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <div class="col-md-10">
        <div id="map-wrapper" style="width: 100%;">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Move the map script to the bottom of the body -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var map = L.map('map').setView([<%= @entry.latitude %>, <%= @entry.longitude %>], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
      L.marker([<%= @entry.latitude %>, <%= @entry.longitude %>]).addTo(map);
    });
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
