<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @entry.place_name %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'leaflet', media: 'all' %>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
    }
    h1 {
      font-size: 48px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px; /* Increase the margin for more padding */
    }
    .lead-text {
      font-size: 20px;
      margin-bottom: 10px;
    }
    #map {
      height: 400px;
      margin-bottom: 30px; /* Add some space below the map */
    }
    .mb-5 {
      margin-bottom: 3rem !important;
    }
    @media (max-width: 576px) {
      /* Reduce the font size for smaller screens */
      h1 {
        font-size: 36px;
      }
      .lead-text {
        font-size: 18px;
      }
      #map {
        height: 300px;
      }
    }
  </style>
</head>
<body>
  <div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @entry.place_name %></h1>
        <p class="lead-text"><strong>Description:</strong> <%= @entry.description %></p>
        <p class="lead-text"><strong>Latitude:</strong> <%= @entry.latitude %></p>
        <p class="lead-text"><strong>Longitude:</strong> <%= @entry.longitude %></p>
        <p class="lead-text"><strong>Date Visited:</strong> <%= @entry.date_visited %></p>
        <p class="lead-text"><strong>Link:</strong> <%= @entry.link %></p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var map = L.map('map').setView([<%= @entry.latitude %>, <%= @entry.longitude %>], 13);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
      L.marker([<%= @entry.latitude %>, <%= @entry.longitude %>]).addTo(map);
    });
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
