<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Add the Google Fonts link to include Roboto font -->
  <!-- Link to import 'Roboto' font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <!-- Add Bootstrap CSS link -->
  <!-- Link to import Bootstrap CSS file -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Add custom styles -->
  <!-- Style to add focus effect on form elements -->
  <style>
    /* Improve accessibility by adding focus styles */
    .form-control:focus,
    .btn:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* Customize the logo size */
    .logo {
      max-width: 150px; /* Adjust the width as needed */
      max-height: 100px; /* Adjust the height as needed */
    }
  </style>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container">
      <!-- Replace the text with the logo image -->
      <a class="navbar-brand" href="<%= root_path %>" aria-label="Globetrotter's Diary Home" role="navigation">
        <!-- Insert the logo image with a responsive class -->
        <%= image_tag("logo.png", alt: "Logo", class: "img-fluid logo") %>
      </a>

      <!-- Add the search form to the center of the navbar -->
      <% unless current_page?(new_user_session_path) %>
        <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
          <form class="form-inline my-2 my-lg-0">
            <!-- Search input with custom style and placeholder -->
            <input class="form-control form-control-lg mr-sm-2 custom-search-bar" type="search" name="q[place_name_cont]" placeholder="Search by Place Name..." aria-label="Search" value="<%= params[:q][:place_name_cont] if params[:q].present? %>" style="width: 600px;">
          </form>
        </div>
      <% end %>

      <!-- Move the login/logout button to the right -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <% if user_signed_in? %>
          <!-- Display Logout button if the user is signed in -->
          <%= form_tag(destroy_user_session_path, method: :delete, class: "form-inline my-2 my-lg-0") do %>
            <%= csrf_meta_tags %>
            <%= submit_tag "Logout", class: "btn btn-outline-light my-2 my-sm-0 ml-2" %>
          <% end %>
        <% else %>
          <!-- Display Login button if the user is not signed in -->
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light my-2 my-sm-0 ml-2 mr-0" %>
        <% end %>
      </div>
    </div>
  </nav>

  <!-- Add jQuery -->
  <!-- Link to import jQuery JavaScript library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Add Bootstrap JS link -->
  <!-- Link to import Bootstrap JavaScript file -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
