<!DOCTYPE html>
<html>
<head>
  <!-- Add the Google Fonts link to include Roboto font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <!-- Add Bootstrap CSS link -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Add Leaflet CSS link -->
  <%= stylesheet_link_tag 'leaflet', media: 'all' %>

  <!-- Add a title for accessibility -->
  <title><%= @entries.present? ? "All Available Entries" : "No Entries Available" %></title>

  <!-- Your other head content here -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render '/shared/navbar' %>
  <%= yield %>

  <!-- Add jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Add Bootstrap JS link -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Add Leaflet JavaScript link -->
  <%= javascript_include_tag 'leaflet' %>
</body>
</html>
